

  .parent {
    padding: 1rem;
    padding-bottom: 15rem;
  }

  .map-parent {
    padding: 20rem;
  }

  .header {
    padding: 15px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    font-family: monospace;
  }

  .map-title {
    padding-right: 100px;
    text-align: center;
    color: #1abc9c;
    font-size: 15px;
    font-family: monospace;
  }

  .canvas-div-container {
    background-image: url("images/map.jpg");
    background-repeat: no-repeat !important; 
    /* background-size: auto; */
    /* height: 100%; 
    width:470px; */
    padding-left: 3px;
    padding-top: 30px;
    background-position: bottom;
    background-position-y: 250px;
    background-size: 100%;
    /* display: inline-block; */
  }

.canvas-class {
  border:1px solid #d3d3d3; 
  opacity: 0.6;
}